.App {
  position: absolute;
  top: 20%;
  margin: 10px;
  left: 35%;
}

.Number-field{
  height: 100px;
  width: 100px;
  background-color:#f0e68c;
  border: 1px solid white;
  font-size: 40px;
  cursor: pointer;
}

.Game-board{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 height: 400px;
 width: 400px;
 padding: 10px;
}

.Round-field{
  margin: 10px;
  width: 30px;
  border-radius: 5px;
  text-align: center;
  height: 20px;
  border-color: lightgray;
}

.Btn-class{
  margin: 10px;
  cursor: pointer;
  color: white;
  background-color: #008000;
  border-radius: 5px;
  border-color: lightgray;
}