.App {
  text-align: center;
}

.Number-field{
  height: 100px;
  width: 100px;
  color: black;
  background-color:lightgray;
  border: 1px solid white;
  font-size: 40px;
}

.Game-board{
 height: 400px;
 width: 400px;
 margin: auto;
 margin-top: 10%;
}

.Round-field{
  width: 30px;
}